<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
                          <!--each文の中のため＠不要-->
          <img src = "<%="/user_images/#{user.image_name}"%>">
        </div>
        <div class="user-right">
            <!--ユーザ一覧からユーザー詳細ページへ-->
          <%=link_to(user.name ,"/users/#{user.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>